#bootcamp img:not(.equation_image):not(.homepage_image) {
    border: 2px solid var(--light-gray);
    padding: 15px;
    border-radius: 5px;
    max-width: 90% !important;
    margin: 50px auto;
    display: block;
}
body {
    font-size: 16px;
    font-size: 1rem;
    font-weight: normal;
    line-height: 1.5;
    color: var(--ic-brand-font-color-dark);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.btn {
    border: none;
    background-color: hsl(360, 91%, 36%);
    border-radius: 25px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 6px 0px rgba(0, 0, 0, 0.2) 0px 1px 1px
      0px;
    color: hsl(0, 0%, 100%);
    display: inline-block;
    font-size: 22px;
    line-height: 22px;
    margin: 16px 16px 16px 20px;
    padding: 14px 34px;
    text-align: center;
    cursor: pointer;
  }