.header {
  text-align: center;
  display: inline-block;
  
}
.top {
text-emphasis-style: bold;
font-size: 20px;
}
#scoreboard{
  float: left;
}
#countdown{
  float: right;
}

main {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}
#feedback{
  background-color: crimson;
  padding: 5px 10px;
  border-radius: 5px;
  color: white;
  width: fit-content;
  margin: 10px auto;
}
.btn {
    border: none;
    background-color: hsl(360, 91%, 36%);
    border-radius: 25px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 6px 0px rgba(0, 0, 0, 0.2) 0px 1px 1px
      0px;
    color: hsl(0, 0%, 100%);
    display: inline-block;
    font-size: 22px;
    line-height: 22px;
    margin: 16px 16px 16px 20px;
    padding: 14px 34px;
    text-align: center;
    cursor: pointer;
  }